html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}





.navbar {
    height: 56px;
    width: 100%;
    position: fixed;
    transition: 0.4s;
    top: 0;
    z-index: 99;
}

.nav {
    height: 56px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
}

.logo a {
    font-size: 20px;
    color: #30354F;
    float: left;
}

.logo a img {
    width: 50px;
    height: 50px;
}

.nav-links a img{
    width: 20px;
    height: 20px;
}

.nav .nav-links {
    margin-left: 120px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 0, 0, 0);
}

.nav .nav-links li {
    list-style: none;
}

.nav-links li a{
    float: left;
    position: relative;
    font-size: 17px;
    color: #30354F;
    padding: 0 10px;
    line-height: 24px;
    margin-left: 20px;
}

.nav-links li a:after{
    content: '';
    display: block;
    border-bottom: 2px solid #30354F;
    transform: scaleX(0);
    transition: .2s ease-in-out;
}

.nav-links li a:hover:after{
    transform: scaleX(1);
}

.etc {
    display: flex;
    align-items: center;
}

.etc .cart, .etc .wishlist, .etc .account {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 17px;
}

.cart i, .wishlist i, .account i {
    position: absolute;
    color: #30354F;
    cursor: pointer;
    font-size: 22px;
    transition: all 0.3 ease;
}

.cart i.shopp {
    opacity: 0;
    pointer-events: none;
}
.cart.active i.shopp {
    opacity: 1;
    pointer-events: auto;
}
.cart.active i.shop {
    opacity: 0;
    pointer-events: none;
}



.wishlist i.heartt {
    opacity: 0;
    pointer-events: none;
}
.wishlist.active i.heartt {
    opacity: 1;
    pointer-events: auto;
}
.wishlist.active i.heart {
    opacity: 0;
    pointer-events: none;
}

.account i.userr {
    opacity: 0;
    pointer-events: none;
}
.account.active i.userr {
    opacity: 1;
    pointer-events: auto;
}
.account.active i.user {
    opacity: 0;
    pointer-events: none;
}

.menu .logo-toggle {
    display: none;
}

.nav .sidebarOpen {
    color: #30354F;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    display: none;
}





main {
    top: 0px;
}

.top-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 700px;
    background-image: url(image/cover.jpg);
    background-size: cover;
}

.home-container {
    max-width: 1000px;
    height: 700px;
    border: 1px solid rgba(30, 43, 119, 0);
}

.home-container .title {
    margin-top: 241px;
    width: 539px;
    margin-bottom: 30px;
    color: #30354F;
    text-align: left;
}

.title h1{
    color: #30354F;
    font-size: 50px;
    margin-bottom: 30px;
}

.title h3{
    color: #30354F;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
}

.home-button button{
    border: 2px solid #30354F;
    background-color: #30354f00;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    color: #30354F;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}




.best-seller-wrapper {
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 130px;
}

.best-seller-box {
    display: flex;
    flex-direction: column;
    max-width: 217px;
    margin: 0 auto;
    margin-top: 72px;
    position: relative;
}

.slide-bar {
    max-width: 1000px;
    margin-top: 150px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.bs-slider .nav-title{
    color: #30354F;
    font-size: 25px;
}

.slider-btn button {
    color: #30354F;
    position: static !important;
    transform: translate(0,0);
    width: auto;
    height: 40px;
    text-align: right;
}

.slider-btn button span {
    font-weight: bold;
    text-decoration: none;
    color: #30354F;
}

.bs-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.best-img a, .best-img{
    width: 100%;
    height: 100%;
    display: flex;
}

.best-img a img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    animation: fade 0.6s;
}

.img-back{
    display: none;
}

.bs-img-container:hover .img-back {
    display: block;
}

.bs-img-container:hover .img-front {
    display: none;
}

.bs-box-text {
    margin-top: 12px;
    margin-bottom: 20px;
    width: 100%;   
}

.product-detail a {
    color: #30354F;
    font-weight: 600;
    text-decoration: none;
    transition: all ease 0.3s;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.p-price{
    color: #30354F;
}

.p-discount{
    text-decoration: none;
    color: #8D95A8;
    text-decoration: line-through;
}

.p-sale {
    position: absolute;
    top: 20px;
    width: 80px;
    height: 24px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    background-color: #30354F;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
}







@keyframes fade {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    position: relative;
}
  
.slide-container .slide {
    display: none;
    width: 100%;
}
  
.slide-container .slide.fade {
    animation: fade 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
  
.slide-container .slide img {
    width: 100%;
}
  
.slide-container .prev,
.slide-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 0px;
    font-size: 0px;
    user-select: none;
}

.slide-container .prev {
  left: 0px;
}

.slide-container .next {
  right: 0px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 15px;
  height: 15px;
  color: #333;
  border-radius: 50%;
  background-color: #B7C6E7;
}

.dots-container .dot.active {
    background-color: #3E4772;
}






.our-product {
    max-width: 1000px;
    height: auto;
}

.our-products-wrapper {
    height: auto;
    margin: 0 auto;
}

.op-contain {
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.op-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    align-items: flex-start;
}

.op-box .best-seller-box {
    display: flex;
    flex-direction: column;
    max-width: 227px;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 72px;
    position: relative;
}

.slide-bar {
    max-width: 1000px;
    margin-top: 150px;
    display: flex;
    align-items: center; 
}

.slide-bar h1{
    color: #30354F;
    font-size: 25px;
}

.op-box .img-back{
    display: none;
}

.op-box .bs-img-container:hover .img-back {
    display: block;
}

.op-box .bs-img-container:hover .img-front {
    display: none;
}

.view-all-btn {
    text-align: center;
}

.view-all-btn button{
    margin-top: 72px;
    margin-bottom: 100px;
    border: 2px solid #30354F;
    background-color: #30354f00;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    color: #30354F;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0);
}





.about-us {
    border: 1px solid rgba(255, 0, 0, 0);
    max-width: 1440px;
    margin-top: 65px;
    height: 620px;
    margin-bottom: 200px;
}

.this-about-us {
    margin-top: 80px;
    max-width: 1440px;
    background-image: url(image/bg\ about\ us.jpg);
    background-size: cover;
    width: 100%;

}

.about-us-wrapper{
    max-width: 1000px;
    height: 538px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
}

.about-us .home-button {
    margin-top: 30px;
}

.about-us-content {
    margin: auto 0;
    padding-right: 60px;
}

.about-us-content img{
    height: 400px;
    width: 400px;
}




.our-service {
    height: 738px;
    margin-top: 150px;
}

.service-wrapper {
    margin: 69px auto;
    max-width: 1000px;
    height: 600px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.service-content img {
    width: 400px;
    height: 600px;
}

.service-content .title {
    margin-top: 44px;
    background-color: #30354F;
    padding: 50px 50px;
}

.service-content .title h1, .service-content .title h3 {
    color: #fff;
}

.service-btn {
    margin: 45px auto;
    height: 155px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.service-button {
    text-align: center;
}

.service-btn img {
    border-radius: 20px;
    box-shadow: 0px 4px 5px #30354f34;
    padding: 25px;
    height: 100px;
    width: 100px;
}

.service-btn h3{
    color: #30354F;
    margin-top: 20px;
}





.newsletters {
    height: 538px;
    margin-bottom: 175px;
}

.newsletter-wrapper {
    margin: 0px auto;
    max-width: 1000px;
    height: 600px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.newsletter-content {
    margin: auto 0;
}

.newsletter-content .title{
    padding: 50px;
    height: 312px;
    background-color: #30354F;
}

.newsletter-content .title h1{
    color: #fff;
}

.newsletter-content .title h3{
    color: #fff;
    padding-right: 60px;
    margin-bottom: 30px;
}

.newsletter-content img{
    height: 400px;
    width: 400px;
}

.title input[type="text"] {
    width: 292px;
    height: 54px;
    float: left;
    font-size: 18px;
    font-weight: lighter;
    padding: 10px 15px;
    line-height: 30px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 15px 0 0 15px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    transition: all 0.3s ease-in-out;
}

.title input[type="text"]:focus {
    border-color: #fff;
}

.title input[type="submit"] {
    width: 150px;
    height: 54px;
    float: left;
    font-size: 18px;
    padding: 10px 15px;
    line-height: 30px;
    border: 3px solid #fff;
    background: #fff;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    color: #30354F;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    transition: all 0.3s ease-in-out;
}

.title input[type="submit"]:active {
    background-color: #30354F;
    color: #fff;
}




.footer-top {
    max-width: 1440px;
    background-color: #30354F;
}

.footer-wrapper {
    padding: 30px 0px;
    max-width: 1144px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-wrapper .item-one {
    flex: 35%;
}

.footer-wrapper .item-two {
    flex: 20%;
}

.footer-wrapper .item-three{
    flex: 25%;
}

.footer-title {
    line-height: 40px;
}

.footer-title h4 {
    font-size: 18px;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 20px;
}

.footer-social h5 {
    font-size: 14px;
    color: #fff;
    font-weight: lighter;
    text-align: justify;
    padding-right: 100px;
}

.footer-social i {
    line-height: 35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-right: 30px;
}

.footer-social i:hover {
    line-height: 31px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.6);
    color: #fff;
}

.footer-title img{
    float: left;
    width: auto;
    height: 40px;
}

.footer-li a {
    list-style-type: none;
    color: #fff;
    font-size: 14px;
}

.footer-li a:hover {
    text-decoration: underline;
}

.footer-li li {
    list-style-type: none;
    padding-bottom: 10px;
}

.footer-li h5 {
    font-size: 14px;
    color: #fff;
    font-weight: lighter;
    text-align: justify;
    margin-bottom: 20px;
}



.footer-bottom{
    text-align: center;
    font-size: 12px;
    background-color: #30354F;
    color: #fff;
    padding: 20px 0px 20px 0px;
}

.footer-bottom a {
    color: #fff;
}
